

.day-selector {
    display: flex; 
    justify-content: center;
    margin: 35px 200px;
    gap: 100px; 
    font-size: 2rem;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.day-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.day-item input[type="radio"] {
    appearance: none; 
    width: 20px;
    height: 20px;
    border: 2px solid #ccc; 
    border-radius: 4px; 
    margin-right: 5px; 
    cursor: pointer; 
}

.day-item input[type="radio"]:checked {
    background-color: #4caf50; 
    border-color: darkgreen; 
}

.day-item label {
    cursor: pointer;
}

.exercise-boxes {
    text-align: center;
    max-width: 1000px;
    margin: 25px auto;
}

.exercise-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    margin-left: 20px;
    gap: 10px 300px; 
    align-items: center;
    justify-content: center;
}

.exercise-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #1e1d1d;  
    color: white; 
    font-size: 1em;
    margin-top: 5px;
}

.exercise-set {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 250px;
    margin-bottom: 5px;
    font-size: 1.2em;
}

.exercise-box.selected {
    border-color: coral;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.exercise-box:hover {
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.3);  
}

hr {
    margin-top: 50px;
    width: 74.5%;
    border-color: #ccc;
}

.day-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.day-buttons button {
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #1e1d1d;
    color: white;
    margin: 0 5px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.day-buttons button.active {
    background-color: coral;
    color: white;
}

.day-buttons button:hover {
    background-color: salmon;
}

.alternatives-h2 {
    display: absolute;
    justify-content: center;
    width: 100%;
    margin-bottom: -5%;
}

.variations-h2 {
    display: absolute;
    justify-content: center;
    width: 100%;
    margin-bottom: -5%;
}

.alternative-box,
.variation-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #1e1d1d;
    color: white;
    font-size: 1em;
    margin: 5px;
    transition: box-shadow 0.3s;
}

.alternative-box:hover,
.variation-box:hover {
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.3);
}

.alternatives-variations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.alternatives-grid,
.variations-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.popup-content {
    background: #1e1d1d; 
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%; /* Adjust width as needed */
    max-width: 800px; 
    position: relative;
    overflow-y: auto; /* Allow scrolling if content is too long */
    max-height: 80%; /* Limit height */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.exercise-info {
    margin-bottom: 20px; 
    text-align: left;
}

.exercise-info h2 {
    margin: 0;
    text-align: center; 
}

.exercise-info h3 {
    margin: 5px 0; 
}

.instructions-info {
    text-align: left;
}

.help-links {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.help-links button {
    background-color: #4caf50; 
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.help-links button:hover {
    background-color: #45a049; 
}

.no-data-message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px; 
    height: 60px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #1e1d1d; 
    color: white; 
    font-size: 1em;
    margin: 5px;
    transition: box-shadow 0.3s;
}