body {
    color: salmon; 
    font-family: 'Arial', sans-serif;
}

.gym-plan {
    text-align: center;
    max-width: 1000px;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh; 
}

.exercise-inputs {
    text-align: center;
}

.exercise-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 500px;
    align-items: center;
    justify-content: center;
}

.exercise-number {
    position: relative;
    text-align: center;
    font-size: 1.2em;
    flex: 1;
    margin: 0; 
    margin-top: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #333;  
    color: white; 
    font-size: 1em;
    padding-right: 40px;  
    margin-top: 5px;
}

.clear-button, .dropdown-button {
    position: absolute;
    top: 53%;
    transform: translateX(100%);
    cursor: pointer;
    color: white;  
}

.clear-button {
    right: 32px;  /* X button slightly to the left of dropdown */
}

.dropdown-button {
    right: 10px;  /* Dropdown distance to the right */
}

input[type="text"]:hover,
input[type="text"]:focus {
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);  
}

.suggestions-list {
    position: absolute;
    top: 100%;
    left: 0;
    background: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 110px;
    width: 100%;
    overflow-y: auto;
    z-index: 2000;
    list-style: none;
    padding: 0;
    margin-top: 0;
}

.suggestions-list li {
    padding: 8px;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #131313;
}

.next-button {
    background-color: #4caf50;
    color: white;
    padding: 15px 25px;
    font-size: 1.2em;
    border: none;
    border-radius: 8px;
    margin-bottom: 150px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 30px;
    align-self: center; 
}

.next-button:disabled {
    background-color: #9e9e9e;
    cursor: not-allowed;
}

.next-button:hover:not(:disabled) {
    background-color: #45a049;
    transform: translateY(-2px);
}

.error-message {
    color: red;
    margin-top: 10px;
}

.exercise-item {
    position: relative;
    margin: 10px 0;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #1c1c1c;  
    color: white;
}

input[type="text"]:hover, input[type="text"]:focus {
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.3);  
}